<div class="col-lg-6 mb-4">
  <div class="bg-light p-4 rounded">
    <div class="widget-body">
      <div class="widget-vs">
        <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
          <div class="team-1 text-center">
            <img src="assets/images/logo_1.png" alt="Image">
            <h3>Name : {{team.name}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center widget-vs-contents mb-4">
      <h4>Owner : {{team.owner}}</h4>
      <p class="mb-5">
        <strong class="text-primary">Foundation : {{team.founder}}</strong>
      </p>
      <h3> TeamId : {{team._id}}</h3>
    </div>

  </div>
</div>